.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 80px;
    background: #161b22;
    color: white;

    .infos a {
        margin: 0 10px;
        color: white;
    }
}

